/*refers to app.js*/
.done {
  color: green;
  text-decoration: line-through;
}

li {
  
}

.delete {

}

/*refers to index.html*/
h1 {
  text-align: center;
  background: #4682B4;
  color: white;
  /*maybe text border*/
  padding: 10px 20px;
  margin: 0;
}

ul {

}

body {

}

.container {
  display: block;
  background: #F0F8FF;
  width: 400px;
  max-height: 550px;
  margin: 100 px auto;
  /*box-shadow: 0 0 3px;*/
}

.entry-w-buttons {


}

.tv {

}

.text-entry {
 
}

.btn-submit {

}

.btn-delete {

}


.list-display-field {

}



